body {
  margin: 0;
  color: #fff;
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#form {
  display: block;
}
main {
  margin-top: 50px;
  padding: 30px;
  width: 500px;
  border: 2px solid #fff;
}
h1 {
  margin-top: 0;
  text-align: center;
}

h2#h2 {
  text-align: center;
  font-size: 80px;
  margin: 10px auto;
  display: none;
}
section {
  margin-top: 50px;
  padding: 30px;
  width: 500px;
  border: 2px solid #fff;
}
#result {
  border: none;
  width: 100%;
}
#result p {
  font-size: 50px;
  text-align: center;
}
section input:nth-of-type(1) {
  display: block;
  font-size: 80px;
  width: 200px;
  margin: 0px auto 20px;
}
section input:nth-of-type(2) {
  display: block;
  padding: 10px 20px;
  margin: 10px auto;
  background-color: #111;
  border: 2px solid #fff;
  color: #fff;
}
a {
  text-decoration: none;
  color: gold;
}

#score {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#score p {
  font-size: 75px;
  margin: 10px 0;
}
#score h3:nth-of-type(1) {
  margin-left: -60px;
  background-color: indianred;
  padding: 10px;
}
#score h3:nth-of-type(2) {
  margin-right: -70px;
  background-color: indianred;
  padding: 10px;
}

#rpsImg {
  border: none;
  display: flex;
  justify-content: center;
  margin-top: 0;
}
#rpsImg div {
  width: 100px;
  border: 3px solid #fff;
  border-radius: 100px;
  margin: 10px;
  padding: 10px;
}
#rpsImg div img {
  width: 100%;
}
#rpsImg div:nth-of-type(1) img {
  transform: rotateY(180deg);
}
